* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #222638;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(#222638, #484f6e);
}

:root {
    --space-between-symbols: 40px;
}

canvas {
    background: transparent;
}

h2 {
    margin-top:30px;
    margin-bottom: 5px;
    font-size: 3rem;
    padding-left: var(--space-between-symbols);
}

.timer__time:last-child h2 {
    padding-right: var(--space-between-symbols);
}

.timer__time:not(:last-child) h2::after {
    padding-left: var(--space-between-symbols);
    content: ":";
}

h3 {
    font-size: 0.8em;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.timer__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    
    .timer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .timer__time:last-child h2 {
        padding-right: var(--space-between-symbols);
    }
    
    .timer__time:not(:last-child) h2::after {
        padding-left: var(--space-between-symbols);
        content: "";
    }
    
}